<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Plugin.Permissions" version="3.0.0.12" targetFramework="xamarinmac20" />
  <package id="Xamarin.Agora.Full.Forms" version="2.3.4.3" targetFramework="xamarinmac20" />
  <package id="Xamarin.Agora.Full.Mac" version="2.3.4.1" targetFramework="xamarinmac20" />
  <package id="Xamarin.Forms" version="3.4.0.1029999" targetFramework="xamarinmac20" />
</packages>